@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Finger+Paint&display=swap');

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: auto;
}